<% content_for :title, "New comment" %>

<h1>New comment</h1>

<%= render "form", comment: @comment, url: post_comments_path(@post) %>

<br>

<div>
  <%= link_to "Back to comments",  post_comments_path(@post)  %>
</div>
