<% unless follow_request.accepted && allowed_to?(:update?, follow_request) %>
  <div>
    <%= form_with(model: follow_request) do |form| %>
      <%= form.hidden_field :accepted, value: true %>
      <%= form.submit "Confirm" %>
    <% end %>
  </div>
<% end %>

<% if allowed_to?(:destroy?, follow_request) %>
  <div>
    <%= button_to (follow_request.accepted ? "Remove" : "Delete" ), follow_request, method: :delete %>
  </div>
<% end %>