<div id="<%= dom_id follow_request %>">
  <p>
    <strong>Accepted:</strong>
    <%= follow_request.accepted %>
  </p>

  <p>
    <strong>Follower:</strong>
    <%= follow_request.follower.email %>
  </p>
</div>
