<div id="<%= dom_id follow_request %>">
  <p>
    <strong>Accepted:</strong>
    <%= follow_request.accepted %>
  </p>

  <p>
    <strong>User:</strong>
    <%= follow_request.user_id %>
  </p>

  <p>
    <strong>Follower:</strong>
    <%= follow_request.follower_id %>
  </p>

</div>
