<% content_for :title, "Follow requests" %>

<div id="follow_requests" class="flex flex-col gap-4 pt-16">
  <h1 class="font-bold text-lg">Follow requests</h1>
  <% @follow_requests.each do |follow_request| %>
    <div class="flex items-center gap-3 grow justify-center">
      <%= render "users/user", user: follow_request.follower %>
      <div class="flex flex-row items-center gap-1">
        <%= render "accept_request_button", follow_request: follow_request %>
      </div>
    </div>
  <% end %>
</div>