<% content_for :title, "Follow requests" %>

<h1>Follow requests</h1>

<div id="follow_requests">
  <% @follow_requests.each do |follow_request| %>
    <%= render follow_request %>
    <%= render "accept_request_button", follow_request: follow_request %>
  <% end %>
</div>

<h1>Followers</h1>

<div">
  <ul>
    <% @accepted_follow_requests.each do |follow_request| %>
      <li>
        <%= render follow_request.follower %>
        <%= render "accept_request_button", follow_request: follow_request %>
      </li>
    <% end %>
  </ul>
</div>