<% content_for :title, "Likes" %>

<div id="likes" class="flex flex-col gap-4 pt-16">
  <h1 class="font-bold text-lg">Likes</h1>
  <% @post.likes.each do |like| %>
    <div class="flex items-center gap-3 grow justify-center">
      <%= render "users/user", user: like.user %>
      <div class="flex flex-row items-center gap-1">
        <%= render "follow_requests/follow_button", user: like.user %>
      </div>
    </div>
  <% end %>
</div>