
<% content_for :title, "Likes" %>

<h3>Post <%= @post.id %></h3>
<%= render "posts/post", post: @post %>

<h1>Likes</h1>

<div id="likes">
  <ul>
    <% @likes.each do |like| %>
      <li>
        <%= link_to like.user.username, like.user %>
      </li>
    <% end %>
  </ul>
</div>
