<% content_for :title, "Followers" %>
<div id="followers" class="flex flex-col gap-4 pt-16">
  <h1 class="font-bold text-lg">Followers</h1>
  <% @accepted_follow_requests.each do |follow_request| %>
    <div class="flex items-center gap-3 grow justify-center">
      <%= render "user", user: follow_request.follower %>
      <div class="flex flex-row items-center gap-1">
        <% if follow_request.user == current_user %>
          <%= render "follow_requests/remove_follower", follow_request: follow_request %>
        <% else %>
          <%= render "follow_requests/follow_button", user: follow_request.follower %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>