<% content_for :title, "Following" %>

<div id="following" class="flex flex-col gap-4 pt-16">
  <h1 class="font-bold text-lg">Following</h1>
  <% @accepted_follow_requests.each do |follow_request| %>
    <div class="flex items-center gap-3 grow justify-center">
      <%= render "user", user: follow_request.user %>
      <div class="flex flex-row items-center gap-1">
        <%= render "follow_requests/follow_button", user: follow_request.user %>
      </div>
    </div>
  <% end %>
</div>