<% content_for :title, "Followers" %>

<div id="followers" class="flex flex-col gap-4 pt-16">
  <h1 class="font-bold text-lg">Followers</h1>
  <% @accepted_follow_requests.each do |follow_request| %>
    <div class="flex items-center gap-3 grow justify-center">
      <div class="flex items-center gap-3 grow">
        <%= render "users/profile_picture", size: 'thumb', user: follow_request.follower %>
        <%= link_to follow_request.follower.username, follow_request.follower, class:"font-bold" %>
      </div>
      <div class="flex flex-row items-center gap-1">
        <%= render "follow_requests/follow_button", user: follow_request.follower %>
      </div>
    </div>
  <% end %>
</div>