<% content_for :title, "Users" %>

<h1>Users</h1>

<div id="users">
  <ul>
    <% @users.each do |user| %>
      <li>
        <%= render "profile_picture", size: 'thumb', user: user %>
        <h3><%= link_to user.username, user %></h3>
        <%= render "follow_requests/follow_button", user: user %>
      </li>
    <% end %>
  </ul>
</div>