<% content_for :title, "Users" %>

<h1>Users</h1>

<div id="users">
  <ul>
    <% @users.each do |user| %>
      <li>
        <%= render user %>
        <%= render "follow_requests/follow_button", user: user %>
      </li>
    <% end %>
  </ul>
</div>