<% content_for :title, "Users" %>
<div id="users" class="flex flex-col gap-4 pt-16">
  <h1 class="font-bold text-lg">Suggested</h1>
  <ul class="flex flex-col gap-4">
    <% @users.each do |user| %>
      <li class="flex items-center gap-3 grow justify-center">
        <%= render "user", user: user %>
        <%= render "follow_requests/follow_button", user: user %>
      </li>
    <% end %>
  </ul>
</div>