<% content_for :title, "Posts" %>

<h1>Posts</h1>

<div id="posts">
  <ul>
    <% @posts.each do |post| %>
      <li>
        <h3><%= link_to "Post #{post.id}", post %></h3>
        <%= render post %>
        <%= render "like_button", post: post %>
        <%= link_to "Liked by:", post_likes_path(post) %>
      </li>
    <% end %>
  </ul>
</div>

