<% content_for :title, "Posts" %>
<div id="posts">
  <ul class="flex flex-col gap-4 items-stretch">
    <% @posts.each do |post| %>
      <li class="gap-4 border-b-1 border-gray-300 py-4">
        <%= render post %>
      </li>
    <% end %>
  </ul>
</div>
