<h3>Post <%= @post.id %></h3>

<%= render @post %>

<% if allowed_to?(:edit?, @post) %>
  <div>
    <%= link_to "Edit this post", edit_post_path(@post) %>
    <%= button_to "Destroy this post", @post, method: :delete %>
  </div>
<% end %>